<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.js"></script>
	<style>
	.h1class{
		color: red;
	}
	.h2class{
		color:  green;
	}
	</style>
</head>
<body>
		<div id="zmz" >
			<h1 :class="classObj" :style="inlineStyle">computed Test : {{HELLO}}</h1>
			<button @click.ctrl="showmeSomething">
				showmeSomething {{HELLO}}
			</button>
			<button :disabled="show">diabled buttons</button>
			<span v-once v-if="show" key="aaa">{{inputs}}</span>
			<span v-once v-else key='BBB'>{{inputs}} HIDDEN</span>
			<p>{{inputsB}}</p>
			<input type="text" v-model="inputs"/>
			<div>
				<span v-for="one in listTwo" @click="list1Click">{{one}}</span>
			</div>
			<ul>
				<li v-for="one in lists" :data-value="one.title">
					{{one.name | BIGJJ}}
				</li>
			</ul>
			<span v-if="show" v-html="fakeHtml+'<p>cum intoyour pussy</p>'">
				{{msg}}
			</span>
			<shitbird :name="name, inputs"></shitbird>
		</div>
</body>
<script type="text/javascript">
	var counter = (function(){
		var count = 0;
		return function(value){
			count++;
			return value +" AND COUNTING: "+count;
		}
	})()
	console.log(counter("hehe"))
	var sayShit = Vue.component("shitbird",{
		props:["name","inputs"],
		template: '<div><h2 v-bind:title="name">my name is {{name}} {{inputs}}</h2></div>'
	})
	var app = new Vue({
		el: "#zmz",
		data: {
			classObj: {
				h1class: true
			},
			name: "zhangmingzhi",
			show: false,
			inputs: "zmz",
			inlineStyle: {
				fontSize: 30,
				textDecoration: "underline"
			},
			inputsB: "",
			fakeHtml: '<p>a ha, im inerting html!</p>',
			msg: "a hidding message",
			lists: [
				{
					name: "hehe",
					title: "hehe"
				},
				{
					name: "xixx",
					title: "xixx"
				},
				{
					name: "asd",
					title: "asd"
				}

			],
			listTwo: [1,2,3,4]
		},
		methods: {
			showmeSomething: function(a){
				this.show = !this.show;
				//如果要激活computed的setter的话，直接给computed赋值即可.
				//如果只是调用Computed中getter监控的属性的话，赋值监控的属性即可。
				this.HELLO = 'zmz';
				this.classObj = {
					h1class: false,
					h2class: true
				}
			},
			list1Click: function(e){
				console.log(e.target)
				console.log(this)
			}
		},
		filters: {
			BIGJJ: function(value){
				return value.split("").map((item, index) => index === 0 ? item.toUpperCase() : item).join("") + " BIG DICK YEAH!!";
			}
		},
		computed: {
			HELLO: {
				get: function(){
					return this.name.charAt(0).toUpperCase()+this.name.slice(1)
				},
				set: function(value){
					this.name = value +"  @FROM SETTER"
				}
			}
		},
		watch: {
			inputs: function(value){
				this.inputsB = counter(value + " @ "+new Date().valueOf());

			}
		}
	})

</script>
</html>