<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="component/1.js"></script>
</head>
<body>
	<div id="aaa">
		{{name | uper}}
		<p>{{c2Computed}}</p>
		<div id="bb">
			<input type="checkbox" v-model="c1Computed">
		</div>
		<div id="zz">
			<p>current: @ {{ radios | uper}}</p>
			<div v-for="(item ,index) in lista">
				<input type="radio" :id='item.value' :value="item.value" @click="ckfn" v-model="radios" />
				<label :for="item.value">{{item.name}}</label>
				<span>@: {{index}}</span>
			</div>
		</div>
		<One :fuckyou="radios" :renderlist="sonlist" :value="sonValue" @updateparents="updateSonValue" :counter="sonclick" @meclick="sonck" >
			<!-- <p> yeah ! btich</p> -->
			<!-- <p> fucking fuck</p> -->
			<p slot="stocking"> fucking fish net nice</p>
			<p slot="ass"> fucking juicy ass</p>
			<template scope="dog">
				<h3 v-for="one in dog.asdf">{{one}}</h3>
			</template>
		</One>
	</div>
</body>
<script type="text/javascript">

	var app = new Vue({
		el: "#aaa",
		data: {
			name: "zhangmingzhi",
			c1: true,
			radios: "aaa",
			sonValue: "",
			sonclick: 0,
			sonlist: ['lisaAnn','kedra lust', 'regkent'],
			lista: [
				{
					name: "xixi",
					value: "aaa1"
				},
				{
					name: "haha",
					value: "bbb2"
				},
				{
					name: "gigi",
					value: "ccc3"
				},
			]
		},
		methods: {
			ckfn: function(e){
				console.log(e.target);
				let val = e.target.getAttribute("value");
				this.radios = val;
			},
			sonck: function(a,b,c){
				console.log('son click',a,b,c)
				this.sonclick++;
			},
			updateSonValue: function(value){
				console.log("value: ", value)
				this.sonValue = value;
			}
		},
		computed: {
			c1Computed: function(v){
				if(this.name === 'zhangmingzhi'){
					return true;
				}else{
					return false;
				}
			},
			c2Computed: function(v){
				// console.log(v);

			}
		},
		filters: {
			uper: function(val){
				return val.toUpperCase();
			}
		}
	})

</script>
</html>